.hero1 {
    background-color: #1f2937;
    height: 300px;
}

.logo {
    font-size : 24px;
    color: #F9FAF8
}

.link-one, .link-two, .link-three, .Desc{
    font-size: 18px;
    color: #E5E7EB
}

.Open {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}